@font-face {
    font-family: "TsangerYuYangT W02";
    src: url("aa.eot"); /* IE9 */
    src: url("aa.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("aa.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("aa.woff") format("woff"), /* chrome, firefox */
    url("aa.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("aa.svg#TsangerYuYangT W02") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


